@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "OPTIBank";
  src: local("OPTIBank"), url("./fonts/OPTIBankGothic.ttf");
}

body {
  font-size: 16px;
}

html {
  left: 0;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.z-index {
  z-index: 5;
}

.OPTIBank {
  font-family: "OPTIBank";
}

/* CARDS */

@media (min-width: 768px) {
  .cardsTitleDesktop {
    display: block;
  }

  .cardsTitleMobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .cardsTitleDesktop {
    display: none;
  }

  .cardsTitleMobile {
    display: block;
  }
}

@media (min-width: 1200px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    z-index: 5;
  }

  .cardContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
    min-width: 250px;
    min-height: 275px;
    width: calc(25% - 1rem);
    padding: 15px;
    background: white;
    z-index: 5;
    transition: 0.5s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
    min-width: 250px;
    min-height: 275px;
    width: calc(33.3% - 1rem);
    padding: 15px;
    background: white;
    z-index: 5;
    transition: 0.5s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}

@media (min-width: 734px) and (max-width: 1200px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
  }

  .cardContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 300px;
    width: calc(50% - 1rem);
    padding: 20px;
    background: white;
    z-index: 5;
    transition: 0.5s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    gap: 10px;
  }

  .card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 300px;
    width: calc(50% - 1rem);
    padding: 20px;
    background: white;
    z-index: 5;
    transition: 0.5s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    gap: 10px;
  }
}

@media (max-width: 734px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
  }

  .cardContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background: white;
    z-index: 5;
    transition: 0.5s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    gap: 10px;
  }

  .card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background: white;
    z-index: 5;
    transition: 0.5s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    gap: 10px;
  }
}

@media (min-width: 1024px) {
  .services-card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
    min-width: 250px;
    min-height: 275px;
    width: calc(50% - 1rem);
    padding: 15px;
    background: white;
    z-index: 5;
    transition: 0.5s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}

@media (max-width: 1024px) {
  .services-card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background: white;
    z-index: 5;
    transition: 0.5s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    gap: 10px;
  }
}

.cardContainer:hover {
  transform: scale(1.05);
}

.card-container:hover {
  transform: scale(1.05);
}

.services-card-container:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 1.125em;
  font-weight: bold;
  color: #0e5933;
  line-height: 95%;
}

@media (min-width: 1300px) {
  .card-body {
    font-size: 1em;
    color: #4d4d4d;
    transition: 0.3s ease-in-out;
    height: 100%;
  }
}

@media (max-width: 1300px) {
  .card-body {
    font-size: 15px;
    color: #4d4d4d;
    transition: 0.3s ease-in-out;
    height: 100%;
  }
}

.cardContainer .cardsAccent {
  background: rgba(14, 89, 51, 0.6);
  height: 75px;
  width: 75px;
  border-radius: 50%;
  position: absolute;
  left: 5%;
  transition: 0.5s ease-in-out;
}

.card-container .cardsAccent {
  background: rgba(14, 89, 51, 0.6);
  height: 75px;
  width: 75px;
  border-radius: 50%;
  position: absolute;
  left: 5%;
  transition: 0.5s ease-in-out;
}

.services-card-container .cardsAccent {
  background: rgba(14, 89, 51, 0.6);
  height: 75px;
  width: 75px;
  border-radius: 50%;
  position: absolute;
  left: 5%;
  transition: 0.5s ease-in-out;
}

.cardsTextContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cardsImage {
  height: 75px;
  width: 75px;
  z-index: 5;
  margin-left: 8%;
}

.cardsButton {
  width: fit-content;
}

.cardsButton:hover {
  color: #0e5933;
}

/* CLIP PATH MOUNTAINS */

.mtnBorder--bottom {
  background-color: rgba(255, 255, 255, 0.85);
  clip-path: polygon(
    9.9% 45px,
    13.7% 49px,
    16.95% 23px,
    17.7% 23px,
    18.25% 23px,
    23.1% 53px,
    24.25% 49px,
    26.45% 72px,
    29.5% 50px,
    33.6% 65px,
    36.85% 53px,
    38.95% 60px,
    43.4% 49px,
    44.25% 55px,
    47.6% 35px,
    52.6% 55px,
    53.95% 55px,
    58.2% 72px,
    61.15% 55px,
    69.15% 41px,
    71.05% 28px,
    72.75% 23px,
    74.55% 23px,
    76.9% 15px,
    78.65% 4px,
    80.4% 0px,
    83.5% 23px,
    86.6% 49px,
    89.3% 65px,
    93.6% 55px,
    96.2% 82px,
    100% 100px,
    0% 100px,
    6.45% 72px
  );

  width: 100%;
  height: 100px;
  background-color: white;
  min-width: 1000px;
  overflow-x: hidden;
  z-index: 2;
}

@media (min-width: 1024px) {
  .slanted-div {
    width: 100%;
    background: linear-gradient(
      to bottom,
      rgba(14, 89, 51, 0.9) 0%,
      rgba(14, 89, 51, 0.65) 100%
    );
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .slanted-div {
    width: 100%;
    background: linear-gradient(
      to bottom,
      rgba(14, 89, 51, 0.9) 0%,
      rgba(14, 89, 51, 0.65) 100%
    );
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
  }
}

@media (max-width: 768px) {
  .slanted-div {
    width: 100%;
    background: linear-gradient(
      to bottom,
      rgba(14, 89, 51, 0.9) 0%,
      rgba(14, 89, 51, 0.65) 100%
    );
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);
  }
}

.service-areas-clippath-bg {
  background: linear-gradient(
    to bottom,
    rgba(14, 89, 51, 0.9) 0%,
    rgba(14, 89, 51, 0.65) 100%
  );
}

.row-title-text {
  font-size: 16px !important;
  font-weight: 500 !important;
}

.custom-link {
  color: #0000ee;
  text-decoration: underline;
}

.custom-link:visited {
  color: #551a8b;
}
